:root{
	--mainColor:#463448;
	--secondaryColor:#382a3f;

	--borderColor:#1d1528;

	--mainText: #fff;
	--secondaryText:#eeeeee;

	--themeDotBorder: #fff;

	--previewBG: rgb(29, 21, 32, 0.8);
	--previewShadow: #2b202f;

	--buttonColor: #8534a3;
}